@mixin font-face($name, $file, $weight: 400, $style: normal) {
	@font-face {
		font-family: '#{$name}';
		src: local('#{$file}'), url('../assets/fonts/#{$file}.woff2') format('woff2'),
			url('../assets/fonts/#{$file}.woff') format('woff');
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}

@include font-face('Nunito', 'NunitoSans-ExtraLight', 200);
@include font-face('Nunito', 'NunitoSans-Light', 300);
@include font-face('Nunito', 'NunitoSans-Regular', 400);
@include font-face('Nunito', 'NunitoSans-SemiBold', 600);
@include font-face('Nunito', 'NunitoSans-Bold', 700);
@include font-face('Nunito', 'NunitoSans-ExtraBold', 800);
@include font-face('Nunito', 'NunitoSans-Black', 900);
