.wrapper {
	background: transparent;
	transition: ease 0.5s;
	cursor: pointer;
	border-bottom: 1px solid #e9e9e9;
	.inner {
		display: grid;
		grid-template-columns:
			12px minmax(100px, 130px) minmax(100px, 120px) minmax(100px, 160px) minmax(120px, 160px) minmax(
				120px,
				170px
			)
			minmax(150px, 250px) minmax(100px, 180px) 32px;
		justify-content: space-between;
		padding: 18px 20px 18px 10px;
		align-items: center;
		grid-gap: 10px;
		> span {
			font-size: 13px;
			line-height: 18px;
			color: #000000;
		}
		> div {
			width: 12px;
			height: 12px;
			border: 1px solid #acacac;
			border-radius: 2px;
		}
	}
	.open {
		transition: ease 0.5s;
		background: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 20px;
		transition: ease 0.5s;
		border: 0;
		font-size: 13px;
		line-height: 18px;
		color: #3a3c40;
		width: 32px;
		height: 32px;
		background: #eeeeee;
		border-radius: 32px;
		cursor: pointer;
	}
	&:hover {
		background: #f2f2f2;
		transition: ease 0.5s;
	}
	&.active {
		cursor: initial;
		background: #f9f9f9;
		box-shadow: inset 0px -1px 0px #e9e9e9;
		.open {
			transform: rotate(180deg);
			transition: ease 0.5s;
		}
	}
}
